<?xml version="1.0" encoding="UTF-8"?>
<RabbitMQ>
	<uri>amqp://atisafe:ty123456@localhost:5672/</uri>
	<exchange name="exc1" type="topic" durable="true" autodelete="false" internal="false" wait="false"/>
	<exchange name="exc2" type="topic" durable="true" autodelete="false" internal="false" wait="false"/>
	
	<queue name="queue1" durable="true" autodelete="false" exclusive="false" wait="false"/>
	<queue name="queue2" durable="true" autodelete="false" exclusive="false" wait="false"/>
	
	<bind queue="queue1" key="abc.*" exchange="exc1" wait="false"/>
	
	<consume queue="queue1" tag="bs001"/>
</RabbitMQ>