{{define "profileContent"}}
<div class="books">
    <div>
        {{range . | getSelfBooks}}
        <div class="col-lg-6 col-md-6 item">
            <div class="col-lg-4 col-md-4 title">
                <img class="logo" src="/uploads/header.jpg" />
            </div>
            <div class="col-lg-7 col-md-7 content">
                <div>
                    <h3>{{.Title}}</h3>
                </div>
                <ul class="clearfix">
                    <li class="text-center">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        <span>{{.ReadCount}}</span>
                    </li>
                    <li class="text-center">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <span>{{.ReadCount}}</span>
                    </li>
                    <li class="text-center">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        <span>{{.ReadCount}}</span>
                    </li>
                    <li class="text-center">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span>{{.ReadCount}}</span>
                    </li>
                </ul>
                <div class="opera">
                    <a class="btn btn-default">
                        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-default" href="/books/add?bookId={{.BookId | objectIdToString}}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <button type="button" class="btn btn-default" href="/books/delete?bookId={{.BookId | objectIdToString}}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}