<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head style="height:100%;">
    <meta charset="utf-8" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>Byte</title>
</head>
<body>
    <div class="body">
    <span></span>
        {{template "navigate" .}}
        {{template "content" .}}
    </div>
    <div class="modal fade" id="cwindow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#cwindow').on('hidden.bs.modal', function (e) {
            $('#cwindow .modal-body').html("");
        })
        $('#cwindow').on('show.bs.modal', function (e) {
            $.ajax({
                url: e.relatedTarget.attributes.getNamedItem("data-href").value,
                cache: false,
                success: function (data) {
                    $('#cwindow .modal-body').html(data);
                },
                error: function (data) {
                    alert("错误")
                }
            })
        })
    </script>
</body>
</html>